*{
    padding: 0;
    margin: 0;
}

html{
    font-family: 'Lato',sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body{
    background-color: #F3F8FD;
    padding-bottom: 0;
}
nav{
    background-color: white;
}
.bodyContainer{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr);
}


.actions{
    background-color: rgb(9, 44, 75);
    width: 40%;
    height: 120vh;
}
.type{
    padding: 3vh 10vh;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.863)
}

#changed{
    background-color: rgb(34, 122, 199);
    color: white;
}



.all{
    padding: 10vh 0px;
    margin-left: -60%;
}
.user{
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3,1fr);
}


h1{
    color: rgb(9, 44, 75);
    margin-top: -60px;
    margin-bottom: 20px;
    
}


.delete{
    padding: 10px 20px;
    background-color: rgb(223, 6, 6);
    border: 1px solid rgb(223, 6, 6);
    color: white;
    width: 98px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
}
.pic{
    cursor: pointer;
}
.pic img{
    border-radius: 15px;
    height: 25vh;
}

.details{
    margin-left: -50%;
    padding: 0px 10px;
    text-align: justify;
}
.delete1{
    padding: 20px;
    margin-left: -60%;
}

.none{
    display: none;
}

.content{
    margin-top: 10vh;
    height: 80vh;
}

.userDetails{
    height: 45vh;
}
.user1{
    height: 20vh;
}
.image{
    margin-left: -25%;
}
.image img{
    border-radius: 15px;
    height: 20vh;
}

.active{
    font-family: 'Raleway';
    color: rgb(22, 163, 22);
}
.deactive{
    font-family: 'Raleway';
    color: rgb(223, 6, 6);
}
.information{
    margin-left: -27%;
    padding: 10px;
    line-height: 2;
    text-align: justify;
}

.deactiveBtn{
    margin: 100px -17%;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(223, 6, 6);
    border: 1px solid rgb(223, 6, 6);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
}
.activeBtn{
    margin: 0px -17%;
    width: 100%;
    padding: 10px 20px;
    background-color: rgb(22, 163, 22);
    border: 1px solid rgb(22, 163, 22);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    outline: none;
    font-family: 'Lato',sans-serif;
    font-size: 16px;
}

@media(max-width:1000px){
    .type{
        padding: 10vh 10px;
    }
    .actions{
        width: 150px;
        height: 200vh;
    }
    .all{
        margin-left: -30%;
    }
    .details{
        margin-left: -15%;
        padding: 10px;
    }
    .delete1{
        padding: 20px;
        margin-left: -10%;
    }
    
}
@media(max-width:650px){
    .all{
        margin-left: -50px;
    }
    .user{
        grid-template-columns: repeat(1,1fr);
    }
    .details{
        margin-left: -10px;
        padding: 10px;
    }
    .delete1{
        margin-left: -10px;
        padding: 10px;
    }
}
@media(max-width:450px){
    .all{
        margin-left: 10px;
    }
    .type{
        padding: 10vh 10px;
    }
    .actions{
        width: 120px;
        height: 200vh;
    }
    .details{
        padding: 0px;
        line-height: 1.2;
        font-size: 15px;
    }
    .pic img{
        height: 15vh;
    }
    h1{
        font-size: 18px;
    }
    .user{
        margin-left: -30px;
    }
    .content{
        height: 90vh;
        margin: -10vh 15px;
    }
    .image{
        margin-left: 0px;
    }
    .information{
        margin-left: 0px;
        padding: 10px;
        line-height: 2;
    }
    
    .deactiveBtn{
        margin: 130px -10%;
    }
    .activeBtn{
        margin: 20px -10%;
    }
    



}